DATABASE_URL=postgresql://prodio:prodio123@localhost:5432/prodio_db
REDIS_URL=redis://localhost:6379
JWT_SEKRET=zmien_mnie_w_produkcji_min_32_znaki
JWT_ODSWIEZANIE_SEKRET=zmien_mnie_odswiezanie_min_32_znaki
JWT_WYGASANIE=15m
JWT_ODSWIEZANIE_WYGASANIE=7d
PORT=4000
NODE_ENV=development
